<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6CL5z76t5LZArhE65F-rRuLLmF9QaC-g</string>
	<key>GCM_SENDER_ID</key>
	<string>914889896435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mike.house.nsk.AppleTVMultiplatform</string>
	<key>PROJECT_ID</key>
	<string>bro-iptv-player</string>
	<key>STORAGE_BUCKET</key>
	<string>bro-iptv-player.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914889896435:ios:a48159284d7a6a2cdb6286</string>
</dict>
</plist>