.idea/*
Pods/*
.DS_Store
Apple-TV-Player.xcodeproj/xcuserdata/*
Apple-TV-Player.xcodeproj/project.xcworkspace/xcuserdata/*
Apple-TV-Player.xcworkspace/xcuserdata/*
vendor
Apple-TV-Player.ipa
Apple-TV-Player.app.dSYM.zip
fastlane/report.xml
