//
//  Debug-Channels.xcconfig
//  Apple-TV-Player
//
//  Created by Mikhail Demidov on 16.10.2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = example.apple.com.Channels;
DEVELOPMENT_TEAM = 4HUHB9J47M;

#include "../../Pods/Target Support Files/Pods-Channels/Pods-Channels.debug.xcconfig"