//
//  Release-Channels.xcconfig
//  Apple-TV-Player
//
//  Created by Mikhail Demidov on 16.10.2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = example.apple.com.Channels;
DEVELOPMENT_TEAM = FFFFFFFFFF;
